In [2]:
import pandas as pd
import altair
import numpy as np

In [3]:
s = pd.Series([1, 2, 3, "test"])
s

0       1
1       2
2       3
3    test
dtype: object

In [4]:
b = pd.Series([1,2,3])
b

0    1
1    2
2    3
dtype: int64

In [5]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
        "G": [1, 2, 3, 4],
    }
)
df2

     A          B    C  D      E    F  G
0  1.0 2013-01-02  1.0  3   test  foo  1
1  1.0 2013-01-02  1.0  3  train  foo  2
2  1.0 2013-01-02  1.0  3   test  foo  3
3  1.0 2013-01-02  1.0  3  train  foo  4

In [6]:
df2.dtypes #property

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
G            int64
dtype: object

In [45]:
df2.G

0    1
1    2
2    3
3    4
Name: G, dtype: int64

In [12]:
df2["G"]

0    1
1    2
2    3
3    4
Name: G, dtype: int64

In [65]:
df2[0:2]

     A          B    C  D      E    F  G
0  1.0 2013-01-02  1.0  3   test  foo  1
1  1.0 2013-01-02  1.0  3  train  foo  2

In [66]:
(df2[0:1])

     A          B    C  D     E    F  G
0  1.0 2013-01-02  1.0  3  test  foo  1

In [42]:
df2.loc[0:1, ["D", "E", "G"]]

   D      E  G
0  3   test  1
1  3  train  2

In [29]:
df3 = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                  index=['cobra', 'viper', 'sidewinder'],
                  columns=['max_speed', 'shield'])
df3

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [57]:
df3.loc["cobra", ["max_speed", "shield"]]

max_speed    1
shield       2
Name: cobra, dtype: int64

In [49]:
df3.loc["cobra"]

max_speed    1
shield       2
Name: cobra, dtype: int64

In [40]:
df3.loc